#board__draw {
    width: 60%;
    height: 80%;
    border: $border-colour 5px inset;
    overflow: hidden;
    background-image: $image-whiteFilter, url(../../../assets/img/western1.jpg);
    background-size: 100% 100%;
    @include phone {
        width: 220px;
        height: 134px;
        margin: auto;
    }
    @include tablette {
        width: 420px;
        max-height: 250px;
        margin: auto;
    }
    @include verticalDesk {
        width: 90%;
        margin: auto;
        height: 500px;
        max-width: 900px;
    }
}


